.myemphasis {
  font-style: italic;
}

.myhome {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 640px;
  margin: 0 auto;
}

.home_statement {
  padding: 24px;
  border-radius: 6px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  text-align: center;
}

.home_statement h1 {
  font-size: 48px;
}

.quick-score-column {
  background-color: whitesmoke;
}

.quick-score-red-th {
  text-align: right;
}

.quick-score-red-cell {
  text-align: right;
}

.quick-score-blue-th {
  text-align: left;
}

.quick-score-blue-cell {
  text-align: left;
}

#card-table {
  text-align: center;
}

table th {
  text-align: center;
}

#card-table {
  width:95%;
  margin-left: auto;
  margin-right: auto;
}

.date-emphasis {
  font-style: italic;
  font-size: 75%;
}

#quick-cards-section {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 640px;
  margin: 0 auto;
}

#quick-cards-section-statement {
/*  width: 90%;
  margin-left: auto;
  margin-right: auto;*/
  padding: 24px;
  border-radius: 6px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  text-align: center;
}

#previous-cards-section {
  /*padding-top: 30px;*/
  padding-bottom: 30px;
  max-width: 640px;
  margin: 0 auto;
}

#previous-cards-section-statement {
  padding: 24px;
  border-radius: 6px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  /*text-align: center;*/
}

.debug {
  border: 1px solid red;
}