<h1>Cells#edit</h1>
<p>Find me in app/views/cells/edit.html.erb</p>

<table class='table table-bordered'>
  
  <tbody>
    <thead>
      <th>Name</th>
      <th>Points</th>  
    </thead>
  </tbody>

  <% @actions.each do |action| %>
    <tr>
      <td>
        <%= action.name %><br />
        Action ID is: <%= action.id %><br />
        <%= link_to "Apply this action to this fighter", cell_path(id: @cell_id, action_id: action.id), method: :patch %>
      </td>
      <td>
        <%= action.points %>
      </td>
    </tr>
  <% end %>
</table>